<body class="logreg">
  
  <%= render :partial=> 'layouts/sidebar'%>
  <div class="form-box">
        <div class="form-pass">
            <div class="form-top-left1">
                <h4>Editar bicicleta</h4>
            </div>  
        </div>  
        <div class="form-bottompass">
            <div class ="form-group">
            <%= form_for @bycicle, url: bicicletas_update_path, :method => :POST  do |f| %>
                <div class="form-group">
                    <h4> <%= f.label :Serial %></h4>
                    <%= f.text_field :serial, autofocus: true , class: 'form-control'%>
                </div>
                
                <div class="form-group">
                    <h4> <%= f.label :Color %></h4>
                    <%= f.text_field :color, autofocus: true , class: 'form-control'%>
                </div>
                  
                <div class="form-group">
                    <h4> <%= f.label :Descripción %></h4>
                    <%= f.text_area :description, cols: "50", rows: "8", class: 'form-control'%>
                </div>
              
                <div class="form-group">
                    <h4><%= f.label :Tipo_de_bicicleta %></h4>
                    <%= f.collection_select :type_bycicle_id, TypeBycicle.order(:id), :id, :description,  {prompt: "Seleccione el tipo"}, {class: "form-control"} %>
                </div>
                
                <div class="form-group">
                    <h4><%= f.label :Marca %></h4>
                    <%= f.collection_select :brand_id, Brand.order(:id), :id, :description,  {prompt: "Seleccione el tipo"}, {class: "form-control"} %>
                </div>
                
                <div class="form-group">
                    <h4><%= f.label :Robada %></h4>
                    <%= f.check_box :state, class: 'form-control' %>
                </div>
                <%= f.hidden_field :id %>
    
               <div class="actions"><%= f.submit "Actualizar Bicicleta" %></div> 
            <% end %>
            </div> 
        </div>
    </div>
</body>