<div class = "panel panel-default formulario">
  <div class="headm">
    <div class ="panel-heading">
      <h2>Editar <%= resource_name.to_s.humanize %></h2>
    </div>  
  </div>  
  <div class ="form1">
    <div class ="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field form-group casillas">
        <%= f.label :Correo_electronico %>
        <%= f.email_field :email, autofocus: true , class: 'form-control',disabled: true%>
      </div>
      <br />
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="field form-group casillas">
        <%= f.label :Nueva_contrasena %> 
        <%= f.password_field :password, autocomplete: "off" , class: 'form-control'%>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> caracteres minimo</em>
        <% end %>
      </div>
      <br>
      <div class="field form-group casillas">
        <%= f.label :Confirmar_contrasena %>
        <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control' %>
      </div>
     <br />
      <div class="field form-group casillas">
        <%= f.label :Contrasena_actual%> <i>(Es necesaria tu contraseña actual para guardar los cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" , class: 'form-control' %>
      </div>
     <br />
      <div class="actions center">
        <%= f.submit "Actualizar" , class: 'btn btn-primary' %>
      </div>
  
    <% end %>
  </div>
  </div>


  <div class ="panel-footer">
      <%= render "devise/shared/links" %>
    </div>
</div>

