<% content_for :for_head do %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

<% end %>



<body class="logreg">

<!-- Top content -->
<div class="top-content">

  <div >
    <div class="container">

      <div class="row">
        <div class="col-sm-5">

          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Inicia sesión en nuestro sitio</h3>
                <p>Ingresa tu correo y contraseña:</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-key"></i>
              </div>
            </div>
            <div class="form-bottom">

              <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {class:'login-form'}) do |f| %>

                  <div class="form-group">
                    <%= f.label :Correo, class:'sr-only' %>
                    <%= f.email_field :email, autofocus: true ,type:'text', class: 'form-user form-control',placeholder: 'correo' %>
                  </div>


                  <div class="form-group">
                    <%= f.label :Contraseña, class:'sr-only' %>
                    <%= f.password_field :password, autocomplete: "off", class: 'form-password form-control',placeholder:'Contraseña' %>
                  </div>
                  <br />

                  <% if devise_mapping.rememberable? -%>
                      <div class="form-group">
                        <p style="opacity: 0.8;color: #fff;">
                        <%= f.check_box :remember_me %>
                        Recordarme</p>
                      </div>
                  <% end -%>

                    <%= f.button 'Iniciar Sesión' , class: 'btn '%>

              <% end %>
              <div >
                <p style='color:opacity: 0.8;color: #fff;'>
                <%= render 'devise/shared/links' %>
                </p>
              </div>

            </div>
          </div>

          <div class="social-login">
            <h3>...o Inicia sesión con:</h3>
            <div class="social-login-buttons">
              <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
                <i class="fa fa-facebook"></i> Facebook
              </a>
              <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                <i class="fa fa-twitter"></i> Twitter
              </a>
              <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                <i class="fa fa-google-plus"></i> Google Plus
              </a>
            </div>
          </div>

        </div>

        <div class="col-sm-1 middle-border"></div>
        <div class="col-sm-1"></div>

        <div class="col-sm-5">

          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Registrate ya!</h3>
                <p>Llena el siguiente formulario para ser parte de nuestra comunidad</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil"></i>
              </div>
            </div>
            <div class="form-bottom">


                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:'registration-form'}) do |f| %>
                  <%= devise_error_messages! %>
                <div class="form-group">
                  <%= f.label :Nombre, class:'sr-only' %>
                  <%= f.text_field :name, type:'text', autofocus: true, class: 'form-first-name form-control', placeholder:'Nombre' %>
                </div>

                <div class="form-group">
                  <%= f.label :Correo_electrónico, class:'sr-only'%>
                  <%= f.email_field :email, autofocus: true, class: 'form-email form-control',type:'text',placeholder:'Correo'%>
                </div>

                <div class="form-group">
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> Caracteres mínimos)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: 'off' , class: 'form-control',placeholder:'Contraseña' %>
                </div>

                  <div class="form-group ">
                    <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control',placeholder:'Confirmar contraseña' %>
                  </div>

                  <%= f.button 'Registrar' , class: 'btn ',type:'submit' %>
              <% end%>
                <!--<div class="form-group">-->
                  <!--<label class="sr-only" for="form-about-yourself">About yourself</label>-->
                  <!--<textarea name="form-about-yourself" placeholder="About yourself..."-->
                            <!--class="form-about-yourself form-control" id="form-about-yourself"></textarea>-->
                <!--</div>-->



            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>

</body>



