<body class="logreg">
  <div class="form-box">
      <div class="form-pass">
        <div class="form-top-left1">
       <h4>¿Olvidaste tu contraseña?</h4>
        </div>
      </div>
  <div class ="form-bottompass">
    <div class ="panel-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="form-group">
        <h4><%= f.label :email %></h4>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
     <br>
      <div class="actions center">
        <%= f.submit "Recuperar cuenta" , class: 'btn btn-primary' %>
      </div>
    <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
  </div>
</body>

