<div class = "panel panel-default formulario">
  <div class="headm">
    <div class ="panel-heading">
       <h2>¿Olvidaste tu contraseña?</h2>
    </div>
  </div>
  <div class ="form1">
    <div class ="panel-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field form-group casillas">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
     <br>
      <div class="actions center">
        <%= f.submit "Recuperar cuenta" , class: 'btn btn-primary' %>
      </div>
    <% end %>
    </div>
  </div>
  <div class ="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
