<h1 id="page_title">Say Hello!</h1>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>


<div class="container">
<div class="col-md-5 col-md-offset-4">
    <div class="form-area">  
        <form role="form">
        <%= form_for @contact do |f| %>
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Contáctanos</h3>
    				<div class="form-group">
    				     <%= f.text_field :nombre, required: true, class:"form-control", placeholder:"Nombre"%>
					</div>
					<div class="form-group">
						<%= f.text_field :correo, required: true, class:"form-control", placeholder:"Correo"%>
					</div>

                    <div class="form-group">
                         <%= f.text_area :mensaje, as: :text ,class:"form-control", required: true ,placeholder:"Mensaje", rows:"7" %>
                    </div>
        
            <%= f.submit 'Enviar Mensaje', class:"btn btn-primary pull-right" %><br>    
        
        </form>
    </div>
    <% end %>
</div>
</div>