<div class='col-sm-3 col-md-2 sidebar'>
  <ul class= 'nav nav-sidebar sidenav'>
    <li class='sidebar_overview'>
    <%= form_tag("reports/busqueda", method: 'get' ) do %>
      <h3><%= label_tag "Filtrar por:" %></h3>
      <h4><%= label_tag :Tipo_de_reporte %></h4>
      <%= collection_select :type_report, :type_report_id, TypeReport.order(:id), :id, :description, class: "form-user form-control" %>
      <h4><%= label_tag :Modalidad %></h4>
      <%= collection_select :mode, :mode_id, Mode.order(:id), :id, :description, include_blank: true, class: "form-user form-control" %>
      <%= hidden_field_tag :search, params[:search] %>
   
      <h4><%= label_tag :Tipo_de_biciclets %></h4>
      <%= collection_select :type_bycicles, :type_bycicle_id, TypeBycicle.order(:id), :id, :description, include_blank: true, class: "form-user form-control" %>
      <h4> <%= label_tag :Marcas %></h4>
       <%= collection_select :brands, :brand_id, Brand.order(:id), :id, :description, include_blank: true, class: "form-user form-control" %>
         
         
       <h4><%= label_tag :Fecha_desde %></h4>

       <%= date_select :date1, selected: Date.today, start_year: Date.today.year, end_year: Date.today.year, include_blank: true, class: "form-user form-control" %>


        <h4><%= label_tag :Fecha_hasta %></h4>
        <%= date_select :date2, selected: Date.today, start_year: Date.today.year, end_year: Date.today.year, include_blank: true, class: "form-user form-control" %>
        <h4><%= label_tag :Hora_desde %></h4>
        <%= time_select :hour1, ampm: true, class: "form-user form-control"%>
        <h4><%= label_tag :Hora_hasta %></h4>
        <%= time_select :hour2, ampm: true, class: "form-user form-control"%>
      <br>
      <%= button_tag :Aplicar, class: 'btn' %>
    <% end %>
    </li>
  </ul>
  
</div>


<!--<div id="mySidenav" class="sidenav">-->
<!--    <div class="form-bottom1">-->
  <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
  <!--<%= form_tag("reports/busqueda", method: 'get' ) do %>-->


<!--        <h4><%= label_tag :Fecha_desde %></h4>-->
<!--        <div class="select">-->
<!--        <%= date_select :date1, selected: Date.today, start_year: Date.today.year, end_year: Date.today.year, include_blank: true, class: "form-user form-control" %>-->
<!--      </div>-->
      
      
<!--        <h4><%= label_tag :Fecha_hasta %></h4>-->
<!--        <div class="select">-->
<!--        <%= date_select :date2, selected: Date.today, start_year: Date.today.year, end_year: Date.today.year, include_blank: true, class: "form-user form-control" %>-->
<!--      </div>-->
      
   
<!--        <h4><%= label_tag :Hora_desde %></h4>-->
<!--      <div class="select">-->
<!--        <%= time_select :hour1, ampm: true, class: "form-user form-control"%>-->
<!--      </div>-->
      
      
<!--        <h4><%= label_tag :Hora_hasta %></h4>-->
<!--        <div class="select">-->
<!--        <%= time_select :hour2, ampm: true, class: "form-user form-control"%>-->
<!--      </div>-->
      
<!--      <%= hidden_field_tag :search, params[:search] %>-->
<!--      <br>-->
<!--      <div class = "form" >-->
<!--          <div class="actions"><%= button_tag :Aplicar, class: 'btn' %></div> -->
<!--      </div>-->

<!--    <% end %>-->
  
<!--      </div>-->
<!--</div>-->

<!--<span class="side" onclick="openNav()">&#9776;</span>-->
