<body class="logreg">
  <div class="form-box">
            <div class="form-top1">
              <div class="form-top-left1">
                <h3>Crear nuevo reporte</h3>
              </div>
              </div>
<div class = "row">
  <div class="col-sm-4">
  <div class="form-bottom1">
    
<!--    <form action="/file-upload" class="dropzone">-->
<!--    <div class="fallback">-->
<!--    <input name="images[]" type="file" multiple />-->
<!--  </div>-->
<!--</form>-->



    <%= form_for @report, url: reports_path, :html => { :multipart => true}  do |f| %>
    
    
      <div class="form-group">
       <h4> <%= f.label :Tipo_de_reporte %></h4>
        <%= f.collection_select :type_report_id, TypeReport.order(:id), :id, :description,include_blank: true, :class => 'form-user form-control'%>
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Fecha %></h4>
        <%= f.date_select :date, selected: Date.today, start_year: Date.today.year, end_year: Date.today.year %>
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Hora %></h4>
        <%= f.time_select :hour, ampm: true, class: "form-user form-control"%>
      </div>
      
      <div class="form-group">
       <h4> <%= f.label :Descripción %></h4>
        <%= f.text_area :description, cols: "50", rows: "8", class:"form-user form-control"%>
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Modalidad %></h4>
        <%= f.collection_select :mode_id, Mode.order(:id), :id, :description, include_blank: true %>
      </div>



<!--<div id="myDropZone" class="dropzone" >-->
<!--               </div>-->
               
      
      <div class="form-group">
        <%= file_field_tag "images[]", type: :file, multiple: false , id:"image1" %>
        <%= file_field_tag "images[]", type: :file, multiple: false , id:"image2" %>

         <%#= f.fields_for :photos do |image_upload| %> 
         <%#= image_upload.file_field :image, multiple: true, style: 'padding-bottom: 25px;' %>
         <%# end %>  
         
         
        <output id="list"></output>
        <output id="list2"></output>
      </div>
      
      <script>
      

  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
    // Loop through the FileList and render image files as thumbnails.
         var elementExists = document.getElementById("prev");
          if (elementExists!=null) 
          {
            document.getElementById("prev").remove();
          }
          
    for (var i = 0, f; f = files[i]; i++) {
      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }
      var reader = new FileReader();
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var elementExists = document.getElementById("prev");
          if (elementExists!=null) 
          {
            document.getElementById("prev").remove();
          }
            var span = document.createElement('span');
            span.innerHTML = ['<img class="thumb" id="prev" width="300" height="300" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
                            document.getElementById('list').insertBefore(span, null);
        };
      })(f);
      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }
  
  
   function handleFileSelect2(evt) {
    var files = evt.target.files; // FileList object
    // Loop through the FileList and render image files as thumbnails.
     var elementExists = document.getElementById("prev1");
          if (elementExists!=null) 
          {
            document.getElementById("prev1").remove();
          }
          
    for (var i = 0, f; f = files[i]; i++) {
      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }
      var reader = new FileReader();
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var sr= e.target.result +'" title="'+ escape(theFile.name);
         
            var span = document.createElement('span');
            span.innerHTML = ['<img class="thumb" id="prev1" width="300" height="300" src="',sr,'"/>'].join('');
            document.getElementById('list2').insertBefore(span, null);
        };
      })(f);
      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

    document.getElementById('image1').addEventListener('change', handleFileSelect, false);
    document.getElementById('image2').addEventListener('change', handleFileSelect2, false);
  
</script>
      
      
      <div class="form-group">
        <h4><%= f.label :Bicicleta %></h4>
        <%= f.collection_select :bycicle_id, Bycicle.order(:id), :id, :serial, include_blank: true %>
      </div>
      <%= f.fields_for :site do |j| %>
        <%= j.hidden_field :name %>
        <%= j.hidden_field :lat %>
        <%= j.hidden_field :lng %>
      <% end %>
       <div class="actions"><%= f.button "Crear reporte" , class: 'btn' %></div>
    <% end %>
  </div>
  </div> 

   <div class="col-sm-8">
      <%= render 'reports/maps_new' %>
   </div>
   <div class="col-xs-6">
     <input onclick="deleteMarkers()" type = "button"  class= 'btn' value="Cambiar ubicación en el mapa">
   </div>
</div>

</body>

