<body class="logreg">
  <div class="form-box">
            <div class="form-top1">
              <div class="form-top-left1">
                <h3>Crear nuevo reporte</h3>
              </div>
              </div>
<div class = "row">
  <div class="col-sm-4">
  <div class="form-bottom1">
    <%= form_for @report, url: reports_path  do |f| %>
      <div class="form-group">
       <h4> <%= f.label :Tipo_de_reporte %></h4>
        <%= f.collection_select :type_report_id, TypeReport.order(:id), :id, :description,include_blank: true, :class => 'form-user form-control'%>
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Fecha %></h4>
        <%= f.date_select :date, selected: Date.today, start_year: Date.today.year, end_year: Date.today.year %>
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Hora %></h4>
        <%= f.time_select :hour, ampm: true, class: "form-user form-control"%>
      </div>
      
      <div class="form-group">
       <h4> <%= f.label :Descripción %></h4>
        <%= f.text_area :description, cols: "50", rows: "8", class:"form-user form-control"%>
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Modalidad %></h4>
        <%= f.collection_select :mode_id, Mode.order(:id), :id, :description, include_blank: true %>
      </div>
      
      <div class="form-group">
         <%= f.fields_for :image_attachment do |image_upload| %> 
         <%= image_upload.file_field :data, style: 'padding-bottom: 25px;' %>
         <% end %>  
        
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Bicicleta %></h4>
        <%= f.collection_select :bycicle_id, Bycicle.order(:id),:id, :serial, include_blank: true %>
      </div>
      <%= f.fields_for :site do |j| %>
        <%= j.hidden_field :lat %>
        <%= j.hidden_field :long %>
        <%= j.hidden_field :name %>
      <% end %>
      

       
       <div class="actions"><%= f.button "Crear reporte" , class: 'btn' %></div> 
    <% end %>
  </div>
  </div> 

   <div class="col-sm-8">
      <%= render 'reports/maps_new' %>
   </div>
</div>

</body>

