<body class="logreg">
  <div class="form-box">
            <div class="form-top1">
              <div class="form-top-left1">
                <h3>Crear nuevo reporte</h3>
              </div>
              </div>
<div class = "row">
  <div class="col-sm-4">
  <div class="form-bottom1">
    <%= form_for @report, url: reports_path  do |f| %>
      <div class="form-group">
       <h4> <%= f.label :Tipo_de_reporte %></h4>
        <%= f.collection_select :type_report_id, TypeReport.order(:id), :id, :description,include_blank: true, :class => 'form-user form-control'%>
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Fecha %></h4>
        <%= f.date_select :date, selected: Date.today, start_year: Date.today.year, end_year: Date.today.year %>
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Hora %></h4>
        <%= f.time_select :hour, ampm: true, class: "form-user form-control"%>
      </div>
      
      <div class="form-group">
       <h4> <%= f.label :Descripción %></h4>
        <%= f.text_area :description, cols: "50", rows: "8", class:"form-user form-control"%>
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Modalidad %></h4>
        <%= f.collection_select :mode_id, Mode.order(:id), :id, :description, include_blank: true %>
      </div>
      
      <div class="form-group">
        <h4><%= f.label :Bicicleta %></h4>
        <%= f.collection_select :bycicle_id, Bycicle.order(:id),:id, :serial, include_blank: true %>
      </div>
      <%= f.fields_for :site do |j| %>
        <%= j.hidden_field :lat %>
        <%= j.hidden_field :long %>
        <%= j.hidden_field :name %>
      <% end %>
       
      
      <%= f.button 'Crear reporte',class:'btn'%>
    <% end %>
  </div>
  </div> 

   <div class="col-sm-8">
      <div>
        <div class ="map2" id="map" ></div>
      </div>
   </div>
</div>

</body>
<script type="text/javascript">
  var markers = [];

  handler = Gmaps.build('Google');
  handler.buildMap({ 
    provider: {
      zoom: 10,
      center: new google.maps.LatLng(4.635540,-74.082807),
    }, 
    internal: {
      id: 'map'
    }});
  
  google.maps.event.addListener(handler.getMap(), 'click', function(event) {
    placeMarker(event.latLng);
    dir(event.latLng);
  })
  
  function dir (latlng){
    var geocoder = new google.maps.Geocoder();
    var infowindow = new google.maps.InfoWindow;
    geocoder.geocode({'location': latlng}, function(results, status) {
      if (status === 'OK') {
        if (results[1]) {
          handler.getMap().setZoom(11);
          var marker = new google.maps.Marker({
            icon: 'info-i_maps.png',
            position: latlng,
            map: handler.getMap()
          });
          document.getElementById("report_site_name").value = results[1].formatted_address;
          infowindow.setContent(results[1].formatted_address);
          infowindow.open(map, marker);
        } else {
          window.alert('No results found');
        }
      } else {
        window.alert('Geocoder failed due to: ' + status);
      }
    });

  }
  
  function placeMarker(location) {
    var marker = new google.maps.Marker({
        position: location, 
        map: handler.getMap(),
        draggable: true
    });
    document.getElementById('report_site_lat').value = location;
    var aux = document.getElementById('report_site_lat').value.substr(1,document.getElementById('report_site_lat').value.length - 2).split(",")
    document.getElementById("report_site_lat").value = aux[0]
    document.getElementById("report_site_long").value = aux[1]
    //document.getElementById("site_latitude").value = aux[0]
    //document.getElementById("site_longitude").value = aux[1]

    google.maps.event.addListener(marker, 'click', function(event) {
      marker.setMap(null);
    });
  }
    
</script>

