<body class="logreg">
  <div class="form-box">
    <div class="form-top1">
      <div class="form-top-left1">
        <h3>Crear nuevo reporte</h3>
      </div>
    </div>
    <div class = "row">
      <div>
        <div class="form-bottom">
    
<!--    <form action="/file-upload" class="dropzone">-->
<!--    <div class="fallback">-->
<!--    <input name="images[]" type="file" multiple />-->
<!--  </div>-->
<!--</form>-->



          <%= form_for @report, url: reports_path, :html => { :multipart => true}  do |f| %>
          
            <div class = "row">
              <div class="col-sm-4">
                <h4> <%= f.label :Tipo_de_reporte %></h4>
                <div class="select">
                  <%= f.collection_select :type_report_id, TypeReport.order(:id), :id, :description,include_blank: false%>
                  <div class="select__arrow"></div>
                </div>
              </div>
                  
              <div class="col-sm-4">
                <h4><%= f.label :Modalidad_del_Hurto %></h4>
                <div class="select">
                  <%= f.collection_select :mode_id, Mode.order(:id), :id, :description, include_blank: false,:class => 'form-user form-control' %>
                  <div class="select__arrow"></div>
                </div>
              </div>
              
              <div class="col-sm-4">
                <h4><%= f.label :Bicicleta %></h4>
                 <div class="select"> 
                  <%= f.collection_select :bycicle_id, Bycicle.order(:id),:id, :serial, include_blank: true %>
                      <div class="select__arrow"></div>
                </div>
              </div>
              
            
            </div>
            <div class="row">
              <div class="col-sm-4" id="sandbox-container">
                <h4><%= f.label :Fecha_del_Infortunio %></h4>
                
                <%= f.date_select :date, {selected: Date.today, start_year: Date.today.year, end_year: Date.today.year, max: Date.today}, {:class => "form-control form-horizontal col-sm-7", :style => "width:100px"} %>
              </div>
  
              <div class="col-sm-3">
                <h4><%= f.label :Hora %></h4>
                <%= f.time_select :hour, {ampm: true},{ :class => "form-control form-horizontal col-sm-5", :style => "width:100px"}%>
              </div>
              
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-sm-12">
                  <h4><%= f.label :Lugar %></h4>
                  <%= render 'reports/maps_new' %>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="form-group">
                <div class="col-sm-12">
                  <h4> <%= f.label :Descripción %></h4>
                  <%= f.text_area :description, cols: "50", rows: "8", class:"form-user form-control"%>
                </div>
              </div>
            </div>
        
        
      <!--<div id="myDropZone" class="dropzone" >-->
      <!--               </div>-->
            
            <div class="col-md-6">
              <label class="btn btn-default btn-file"> Subir Imagen 1
      
              <%= file_field_tag "images[]", type: :file, multiple: false , id:"image1", style:"display:none" %>
              
              </label>
               <%#= f.fields_for :photos do |image_upload| %> 
               <%#= image_upload.file_field :image, multiple: true, style: 'padding-bottom: 25px;' %>
               <%# end %>  
              <output id="list"></output>
           
            </div>
            
             <div class="col-md-6">
               <label class="btn btn-default btn-file"> Subir Imagen 2
                <%= file_field_tag "images[]", type: :file, multiple: false , id:"image2" %>
              </label>
            
               <output id="list2"></output>
              </div>
            
            <%= f.fields_for :site do |j| %>
              <%= j.hidden_field :name %>
              <%= j.hidden_field :lat %>
              <%= j.hidden_field :lng %>
            <% end %>
            <br>
             <div class="actions"><%= f.button "Crear reporte" , class: 'btn' %></div>
          <% end %>
  </div>
  </div> 
</div>

      <script>
      

  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
    // Loop through the FileList and render image files as thumbnails.
         var elementExists = document.getElementById("prev");
          if (elementExists!=null) 
          {
            document.getElementById("prev").remove();
          }
          
    for (var i = 0, f; f = files[i]; i++) {
      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }
      var reader = new FileReader();
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var elementExists = document.getElementById("prev");
          if (elementExists!=null) 
          {
            document.getElementById("prev").remove();
          }
            var span = document.createElement('span');
            span.innerHTML = ['<img class="thumb" id="prev" width="300" height="300" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
                            document.getElementById('list').insertBefore(span, null);
        };
      })(f);
      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }
  
  
   function handleFileSelect2(evt) {
    var files = evt.target.files; // FileList object
    // Loop through the FileList and render image files as thumbnails.
     var elementExists = document.getElementById("prev1");
          if (elementExists!=null) 
          {
            document.getElementById("prev1").remove();
          }
          
    for (var i = 0, f; f = files[i]; i++) {
      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }
      var reader = new FileReader();
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var sr= e.target.result +'" title="'+ escape(theFile.name);
         
            var span = document.createElement('span');
            span.innerHTML = ['<img class="thumb" id="prev1" width="300" height="300" src="',sr,'"/>'].join('');
            document.getElementById('list2').insertBefore(span, null);
        };
      })(f);
      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

    document.getElementById('image1').addEventListener('change', handleFileSelect, false);
    document.getElementById('image2').addEventListener('change', handleFileSelect2, false);
  
  
  
  
</script>
</body>

